<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create your blog</title>
</head>
<body>
    <form method="post" action="/blog">
     enter your img src
    <textarea name="src"></textarea>
    <br>
    <br>
    enter theme of your content
    <input type="text" name="theme"/>
    <br>
    <br>
    enter what you are blogging about
    <textarea name="content_index"></textarea>
    <br><br>
    write your content
    <br>
   <textarea rows="20" cols="45" name="text"></textarea>
   <br>
   <br>
   <button> submit</button>
</form>
</body>
</html>