<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>your blog</title>
</head>
<body>
    <h1><%=blog.theme%></h1>
    <img src="<%=blog.src%>" alt="image.png"/>
   <p><%=blog.text%></p>
  <a href="http://localhost:2006/blog/<%=blog.id%>/edit">Edit your post</a>
 
</body>
</html>